.display__Wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}
@media (max-width: 840px) {
  .display_Wrapper {
    padding: 5px 0;
    gap: 5px;
    flex-direction: column;
  }
}
