.base__Wrapper {
  height: 50px;
  padding: 5px;
}
.base__Select {
  flex: 3;
  text-align: center;
  background: gainsboro;
  opacity: 0.6;
  font-size: 24px;
  width: 100%;
}
.base__Label {
  font-size: 24px;
  margin: auto;
}

@media (max-width: 660px) {
  .base__Wrapper {
    padding: 5px 0;
    gap: 5px;
    flex-direction: column;
  }
  .base__Select {
    font-size: 18px;
    padding: 10px;
  }
  .base__Label {
    font-size: 18px;
  }
}
