.history__Item {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  justify-content: space-around;
  width: 350px;
  justify-self: center;
  margin: 5px auto;
  font-size: 24px;
}

.display__Wrapper {
  min-height: 250px;
  border: 1px solid black;
  overflow-y: scroll;
}

@media (max-width: 450px) {
  .history__Item {
    display: flex;
    border: 1px solid black;
    padding: 2px;
    justify-content: space-around;
    width: 340px;
    justify-self: center;
    margin: 2px auto;
    font-size: 12px;
  }

  .display__Wrapper {
    min-height: 350px;
    border: 1px solid black;
    overflow-y: scroll;
  }
}
