.select {
  text-align: center;
  background: gainsboro;
  opacity: 0.6;
  font-size: 24px;
}
.label {
  font-size: 24px;
}

.container {
}

@media (max-width: 860px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 660px) {
  .label {
    font-size: 18px;
  }
}
