.select {
  flex: 3;
  text-align: center;
  background: gainsboro;
  opacity: 0.6;
  font-size: 24px;
}
.label {
  font-size: 24px;
  margin: auto;
}

@media (max-width: 450px) {
  .wrapper {
    max-width: 700px;
    margin: 0px;
  }
  .exchange__Wrapper {
    margin: auto 10px;
  }
}

button {
  padding: 12px;
  background: none;
}
