.flag__wrapper {
  max-height: 150px;
  max-width: 150px;
}

.details:nth-child(2) {
  font-weight: bold;
}

.details {
  align-items: center;
  align-self: center;
  padding: 20px;
}

.text-info {
  justify-content: center;
}
