.display__Latest {
  width: 100%;
  height: 1000px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.display__Flag {
  max-width: 64px;
  max-height: 64px;
}

@media (max-width: 450px) {
  .display__Latest {
    min-width: 320px;
    font-size: 12px;
    margin: auto;
    padding: 3px;
  }

  .display__Flag {
    max-width: 48px;
    max-height: 48px;
  }
}
