.main-wrapper {
  gap: 20px;
}

.wrapper {
  justify-content: center;
  align-content: space-between;
}
.wrapper-form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 20px;
  align-content: space-around;
}

.field {
  height: 35px;
  margin: 10px;
}

.select {
  text-align: center;
  background: gainsboro;
  opacity: 0.6;
  font-size: 24px;
  height: 35px;
  margin: 10px;
}
.label {
  font-size: 24px;
  margin: auto;
}

@media (max-width: 450px) {
  .wrapper {
    max-width: 700px;
    margin: 0px;
  }
  .exchange__Wrapper {
    margin: auto 10px;
  }
  .select {
    font-size: 18px;
  }
}

.button-black {
  font-size: 18px;
  padding: 12px;
  border-radius: 12px;
  background: black;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.button-group {
  justify-content: end;
}
