.card__Wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 960px;

  margin: auto;
  border: 1px solid black;
}

.container {
  justify-content: center;
  align-content: center;
}

h1 {
  margin: 0;
  padding: 0;
}

@media (max-width: 660px) {
}
