.card__Wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 950px;

  margin: auto;
}

h1 {
  margin: 0;
}

@media (max-width: 660px) {
  .card__Wrapper {
    max-height: 660px;
  }
}
