.history__Item {
  display: flex;
  border-left: 1px solid black;

  justify-content: space-between;
  width: 350px;
  justify-self: center;
  margin: 0px auto;
  font-size: 18px;
  align-items: center;
  gap: 0px;
  min-height: 50px;
}

@media (max-width: 450px) {
  .history__Item {
    border: 1px solid black;
    display: flex;
    margin: 0px auto;
    font-size: 18px;
    align-items: center;
    width: 100px;
    height: 75px;
  }

  .display__History {
    min-height: 200px;
    flex-wrap: wrap;
  }
}
