.history__Item {
  display: flex;
  font-size: 18px;
  gap: 15px;
  border: 1px solid black;
  align-items: center;
  padding: 25px;
}
.display__History {
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 25px;
}

@media (max-width: 450px) {
  .history__Item {
    padding: 0px;
    gap: 5px;
    border: 1px solid black;
    display: flex;
    margin: 0px auto;
    font-size: 18px;
    align-items: center;
    width: 100px;
    height: 100px;
  }

  .display__History {
    min-height: 200px;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}
