.history__Item {
  display: flex;
  border-left: 1px solid black;

  justify-content: space-between;
  width: 350px;
  justify-self: center;
  margin: 0px auto;
  font-size: 18px;
  align-items: center;
  gap: 0px;
  min-height: 50px;
}

.display__Wrapper {
  min-height: 250px;
  border: 1px solid black;
  overflow-y: scroll;
}

.display__History {
}
