.List__wrapper {
  border: 1px dotted black;
  width: 650px;
  padding: 10px;
  margin: 15px auto;
  overflow-y: scroll;
}

@media (max-width: 450px) {
  .List__wrapper {
    width: auto;
  }
}
