.display__History {
  display: flex;
}

.display__Wrapper {
  height: 50px;
}

.base__Select {
  align-self: center;
  flex: 3;
  text-align: center;
  background: white;
  font-size: 24px;
  border: 1px solid black;
}
