.error-field {
  color: red;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-content: space-around;
}

.field {
  height: 35px;

  padding: 5px;
}

.phone {
  max-height: 35px;
  font-size: 18px;
  flex: 1;
}

.label {
  font-size: 24px;
  margin: auto;
}

.button-black {
  font-size: 18px;
  padding: 12px;
  border-radius: 12px;
  background: black;
  color: white;

  gap: 10px;
  justify-content: center;
}
.button-group {
  justify-content: end;
}
.country-name {
  font-size: 12px;
}
