.currency:hover {
  background: gainsboro;
  cursor: pointer;
}
.currency__Button {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  justify-content: space-between;
  width: 620px;
  justify-self: center;
  margin: 5px auto;
  font-size: 24px;
  min-height: 60px;
}

.currency__Button:hover {
  opacity: 0.8;
  background: gainsboro;
}

.currency__Flag {
  flex: 2;
  max-height: 55px;
  max-width: 55px;
  margin: 2px;
  align-self: center;
}

.currency__ItemSmall {
  flex: 2;
  align-self: center;
  padding: 5px;
}

.currency__Name {
  flex: 5;
  align-self: center;
  padding: 5px;
}

@media (max-width: 450px) {
  .currency__Button {
    display: flex;
    border: 1px solid black;
    padding: 2px;
    justify-content: space-between;
    width: 340px;
    justify-self: center;
    margin: 5px auto;
    font-size: 12px;
    min-height: 40px;
  }
}
